*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #52796f;
}

/* for special h1 tag the main website hadding */

.h1{
    padding-bottom: 2%;
    padding-top: 1%;
    text-align: center;
    color: solid black;
}

/*for the nav linn individual*/

.Nav{
    color: #cad2c5;
    text-decoration-line: none;
}

/* form main nav tag */

nav{
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #2f3e46;
    justify-content: space-around;
    color: pink;   
}

/*a start page main div*/

.part{
    display: flex;
}

/*the main left side contant*/

.left-side{

}

/* a main left side div of start page main*/

.intro{
    font-size: 40px;
    padding-left: 10%;
    padding-top: 6%;
    width: 50%;
}

/* the main right side contant*/

.right-side{
    
}

/*for the image on right side on first page*/

.rightImg{

}


/*card heading a Key Feture*/

.keyFeture{
    text-align: center;
    padding-bottom: 2%;
    color:white;
    text-shadow: 0px 0px 10px black,
                 0px 0px 20px black;
    letter-spacing: 10px;
}

/*main center to make center group_of_cards*/

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

/*second page for group of cards*/

.group_of_card{
    display: flex;
    flex-wrap:wrap;
    height: 640px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    width: 80%;
    padding-left: 90px;
}

/* for each card in side the group of cards*/

.card{
    box-shadow: 0px 0px 10px gray,
                0px 0px 20px gray;
    
    border-radius: 1rem;
    padding: 10px;
    width: 60%;
    height: 270px;
    color: #cad2c5;
    border: 2px solid black;
}

/* for all card image*/

.cardImg{
    width: 100%;
    border-radius: 1rem;
}